section.card-section-imagia
  h2
    | ovu web aplikaciju su izradili studenti FIPU-a i svrhu projekta za kolegij Baze podataka 2
  //-.container
  .row
    //-.col-sm-6.col-md-4.col-sm-12.col-md-6.col-lg-4.text-center
    .col-sm-12.col-md-6.col-lg-4.text-center
      .card-container-imagia
        .card-imagia
          .front-imagia
            .cover-imagia
              img(src='https://picsum.photos/300/120?image=1044', alt='')
            .user-imagia
              img.img-circle(src='images/ivan.jpg', alt='')
            .content-imagia
              h3.name-imagia Ivan Brajković
              p.subtitle-imagia dev.net.spec.
              p.text-center
                em
                  | HT-tehnički odjel za korisničko iskustvo, full stack developer, CCNA specijalist za mreže, izvanredni student Fakulteta Informatike u Puli u sklopu Sveučilišta Jurja Dobrile u Puli
            .footer-imagia
              span
                i.fa.fa-plus
                |  More info
          .back-imagia
            .content-imagia.content-back-imagia
              div
                h3.text-center Lorem Ipsum
                p.text-center
                  | Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                  | interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca.
            .footer-imagia
              .social-imagia.text-center
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-linkedin
                a(href='#')
                  i.fa.fa-twitter

    .col-sm-12.col-md-6.col-lg-4.text-center
      .card-container-imagia
        .card-imagia
          .front-imagia
            .cover-imagia
              img(src='https://unsplash.it/300/120?image=1067', alt='')
            .user-imagia
              img.img-circle(src='images/slaven.jpg', alt='')
            .content-imagia
              h3.name-imagia Slaven Sokčević
              p.subtitle-imagia student
              p.text-center
                em
                  | Izvanredni student Fakulteta Informatike u Puli u sklopu Sveučilišta Jurja Dobrile u Puli
            .footer-imagia
              span
                i.fa.fa-plus
                |  More info
          .back-imagia
            .content-imagia.content-back-imagia
              div
                h3.text-center O meni
                p.text-center
                  | Zovem se Slaven Sokcevic. Imam 44 godine. Motori su velik dio mog zivota. Putujemo po svijetu s njime, kad god mozemo, zena i ja. Jednom prilikom smo, u jednom danu prosli, 1012 kilometara, od Pule do Frankfurta.
                  | Punih 13.5 sati voznje. Eto. Takav sam. Jedan zivot, nije generalna proba.
                  br
            .footer-imagia
              .social-imagia.text-center
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-linkedin
                a(href='#')
                  i.fa.fa-twitter

    .col-sm-12.col-md-6.col-lg-4.text-center
      .card-container-imagia
        .card-imagia
          .front-imagia
            .cover-imagia
              img(src='https://picsum.photos/300/300?image=1056', alt='')
            .user-imagia
              img.img-circle(src='images/aleksandar.jpg')
            .content-imagia
              h3.name-imagia Aleksandar rakas
              p.subtitle-imagia teh. student
              p.text-center
                em
                  | HT-tehnički odjel za korisničko iskustvo, izvanredni student Fakulteta Informatike u Puli u sklopu Sveučilišta Jurja Dobrile u Puli
            .footer-imagia
              span
                i.fa.fa-plus
                |  More info
          .back-imagia
            .content-imagia.content-back-imagia
              div
                h3.text-center Lorem Ipsum
                p.text-center
                  | Et hanc quidem praeter oppida multa duae civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut rebellatrix
                  | interneciva aegre vestigia claritudinis pristinae monstrat admodum pauca.
            .footer-imagia
              .social-imagia.text-center
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-linkedin
                a(href='#')
                  i.fa.fa-twitter

