//- sidebar menu

nav#sidebar-menu.shadow-2
  //.header
    //h3 Test Header 1    
  ul.components
    //p Test Header 2    
    li
      a(href="#prikaz-submenu", data-toggle="collapse", aria-expanded="true") Prikaz
        i.material-icons expand_more
      ul#prikaz-submenu.collapse.show
        li
          a#view-all-product.active(href="#") Svi proizvodi
        li
          a#view-skladiste(href="#") Skladište
        li
          a#view-veleprodaja(href="#") Veleprodaja
        li
          a#view-maloprodaja(href="#") Maloprodaja

    li
      a.collapsed(href="#unos-submenu", data-toggle="collapse", aria-expanded="false") Unos
        i.material-icons expand_more
      ul#unos-submenu.collapse
        li
          a#manage-tables(href="#") Sve tablice
        li
          a(href="#") Page 2
        li
          a(href="#") Page 3
        
        //-li
          div.switch-container
            label.form-switch
              input.connect-socket(type="checkbox")
              i
              |Socket connect

  .footer
    label.form-switch
      input.connect-socket(type="checkbox")
      i
      |Socket connect