//- Top menu

nav#topbar-menu.navbar.bg-dark.navbar-dark.fixed-top.navbar-expand-md
  div.container
    a.navbar-brand(href="#") Vinoteka d.o.o.
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#topbar-dropdown")
      span.navbar-toggler-icon
      
    div#topbar-dropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Proizvod
        li.nav-item
          a.nav-link(href="/insert") Podaci
        li.nav-item
          a#view-admin-modal.nav-link(href="#") Admin
        li.nav-item
          a.nav-link(href="#") O Nama
        li.nav-item
          a#contact-form.nav-link(href="#") Kontakt
        li.nav-item
          a#-404.nav-link(href="#") 404