/***** Top menu *****/

/* #topbar-menu {
  min-height: 60px;
} */

/* #topbar-menu .navbar, */
#topbar-menu a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-shadow: var(--text-shadow) !important;
}

#topbar-menu .navbar-brand {
  font-size: 26px;
  font-family: "Gloria Hallelujah", cursive;
  /* padding: 0; */
}

#topbar-menu .navbar-brand,
#topbar-menu .active > a,
#topbar-menu .nav-item > a:hover {
  color: var(--front-color-1);
}

@media (min-width: 768px) {
  #topbar-menu {
    height: 60px;
  }

  /* #topbar-menu .active,
  #topbar-menu .topbar__list--hover {
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 10px;
  } */
}

/* #topbar-menu .active {
  background-image: linear-gradient(
    to top,
    var(--sidebar-back-color) 0%,
    var(--sidebar-active-color) 100%
  );
} */

#topbar-menu .active::before {
  opacity: 1;
}

#topbar-dropdown li {
  position: relative;
  z-index: 1;
}

#topbar-dropdown li::before {
  border-radius: inherit;
  background-image: linear-gradient(
    to top,
    var(--sidebar-back-color) 0%,
    var(--sidebar-active-color) 100%
  );
  content: "";
  display: block;
  margin-top: -10px;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.45s;
  /* animation-timing-function: ease-in-out; */
}

#topbar-dropdown li:not(.active):hover:before {
  opacity: 1;
  /* animation: pulse 1.5s infinite; */
}

@media (max-width: 767px) {
  #topbar-dropdown li::before {
    margin-top: 0px;
    height: 100%;
  }
}

/* @keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* #topbar-menu li:not(.active) > a:hover {
  animation: pulse 1.5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    color: var(--front-color-3);
    text-shadow: 1px 1px 1px #666, 2px 2px 4px black;
  }
  50% {
    color: var(--front-color-1);
    text-shadow: -5px -5px 20px var(--front-color-1),
      5px 5px 20px var(--front-color-1);
  }
} */
